body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}
nav{
    border: solid 2px greenyellow;
    background-color: rgb(230, 57, 0);
    position: relative;
}
#navList{
    border: solid 3px red;
    display: flex;
    border: none;
    height: 70%;
    width: 30%;
    transform: skew(0deg);
    
    
}
#navList li{
    display: none;
    transform: skew(0deg)
}
.lilast{
    display: none;
}
#icons{
    margin-top: 10px;
    margin-left: -30%;
    display: flex;
    font-size: 20px;
}
#icons i{
    padding-left: 30px;
}

.fa-bars{
    visibility: visible;
    padding-left: -50px;
}
.look{
    visibility: visible;
}
.icon{
    display: none;
}
.liLast{
   visibility: visible;
}
#navListLast{
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    text-align: left;
    width: 270px;
    margin-top: -10px;
    display: none;

}
#navListLast li{
    margin-top: 20px;


}
#navListLast i{
    margin-left: 0px;
    border: solid 1px black;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
}
.pin img{
    position: absolute;
    right: 0%;
    top: 3%;
    width: 100px;
    height: 100%;
}
/** Banner**/
.banner{
    width: 100%;
    padding: 0px;
    border: solid 2px black;
    text-align: center;
}
#head{
    
    font-size: 30px;
    margin-left: -50px;
    width: 300px;
    

}
#header{
    font-size: 30px;
    width: 300px;
}
#form{
    border: solid 2px purple;
    width: 100%;
}
#form p{
    width: 300px;
    text-align: center;
}
#form ul{
    width: 50%;
    
}
#form ul li i{
    margin-left: 7%;
}
#text{
    display: none;
}
/* Gallery*/
.gallery{
    border: solid 1px blue; 
}
.gallery .row{
    border: solid 1px black;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    overflow: scroll;
    
}
.gallery .row .pic{
    border: solid 1px black;
    margin: 5px;
    width: 100%;
    flex-shrink: 0;
}





/** footer**/
footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    padding: 0px;

}
.foot{
    width: 100%;
}
.foot li a{
    padding-left:0px;
}
#last{
    width: 100%;
    margin-left:0px; 
}