body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: rgb(51, 51, 51);
}

.profile{
    width: 100%;
    margin: 0px;
}

.profileHead{
    width: 30%;
    height: 200px;
    background-image: linear-gradient(to right , rgb(255, 0, 0), rgb(51, 204, 255));
    display: flex;
    padding-left: 20%;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
.profileHead img{
    width: 30%;
    height: 70%;
    margin-top: 2%;
    border-radius:80% ;
    margin-left: -60%;
    
}
.profileHead .row{
    padding-top: 13%;
    width: 70%;
}
.profileHead .row #profile-name{
    width: 150%;
    height: 30px;
    display: flex;
    flex-direction: row;
    
}
.profileHead .row #profile-name p{
    margin-top: 0%;
    padding-left: 3%;
    width: 20%;
    font-weight: 500;
    border: solid 2px black;
    font-size: 150%;
    height: 50px;
    border: none;
    color: white;
    
}
.profileHead  .row #current-balance{
    border: solid 2px black;
    margin-left: 10%;
    width: 70%;
    height: 75px;
    margin-top: 3%;
    padding-left: 3%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;


}
.profileHead  .row #current-balance h3{
    font-size: 90%;
    border: solid 2px black;
    border: none;
    margin-top: 4%;
    color: white;
}
.profileHead  .row #current-balance p{
    font-size: 150%;
    border: solid 2px black;
    margin-top: -5%;
    border: none;
    color: white;
}
/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0px;
}
.navlist{
    width: 20%;
    height: 400px;
    margin-top: 10px;
    border-radius: 10px;
    text-decoration: none;
    background-color: rgb(204, 41, 0);
    position: relative;
}
.navlist ul{
    list-style: none;
    justify-content: center;
    padding: 0px;
}

.navlist ul:hover{
    background-color: white;
}

.navlist ul li{
    font-size: larger;
    font-weight: 500;
    border: 0.5px solid green;
    width: 100%;
    text-decoration: none;
    list-style: none;
    color: white;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: rgb(204, 41, 0);
}

.navlist ul li:hover{
    cursor: pointer;
    color: gray;
    transition: 0.5s;
    display: flex;
    background-color: white;
}
.navlist ul li p{
    margin-left: 5%;
    margin-top: 6%;
}
  
/* navlist icon */
.navlist ul li .fa-angle-right{
    margin-left: 5%;
    margin-top: 8%;
    height: 2%;
}
.navlist ul li .bank{
    margin-left: 5%;
    margin-top: 8%;
}
/** navlist icon **/
.dashboard{
    width: 75%;
    margin-left: 23px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(204, 41, 0);
    height: 400px;
    overflow: scroll;
}
.dashboard h2{
    padding-left: 2%;
    color: antiquewhite;
}
.dashboard .dashlist{
    border: solid 2px blue;
    display: flex;
    flex-direction: row;
    width: 75%;
    background-color: rgb(153, 31, 0);
    border: none;
    border-radius: 10px;
    margin-left: 2%;

}
.dashboard .dashlist .quick-transaction{
    margin-left: 20%;
}
.dashboard .dashlist .quick-transaction h3{
    color: mintcream;
}
.dashboard .dashlist .quick-transaction p{
    font-weight: bold;
}
.quick-transaction{
    background-color: rgb(153, 31, 0);
    width: 50%;
    height: 250px;
    position: relative;
    border-radius: 10px;
    margin-left: 2%;
}
.quick-transaction h3{
    color: white;
    padding-top: 2%;
    padding-left: 2%;
}
.quick-transaction .quickTransaction{
    display: flex;
    flex-direction: row;
    overflow: scroll hidden;
    width: 80%;
    margin-left: 18%;
    margin-top: -10px;
    

}
.quick-transaction .quickTransaction .debit{
    border: solid 2px rgb(153, 31, 0);
    width: 15%;
    height: 30%;
    text-align: center;
    margin-left: 13%;
    border-radius: 10%;
    background-color: rgb(153, 31, 0);
    flex-shrink: 0;
}
.quick-transaction  #manual{
    position: absolute;
    border: solid 2px white;
    width: 15%;
    height: 140px;
    left: 1%;
    top: 30%;
    border-radius: 10%;
    background-color: rgb(153, 31, 0);
}
.quick-transaction  #manual p{
    padding-top: 10%;
    padding-left: 25%;
    color: white;
}
.quick-transaction  #manual i{
    font-size: 200%;
    margin-left: 30%;
    margin-top: 50%;
    color: white;
}

.quick-transaction .quickTransaction .debit p{
    color: white;

}
.quick-transaction .quickTransaction .debit img{
    width: 100%;
    height: 50%;
    padding-top: 3%;
    border-radius: 10%;
}
/** Navigation **/
/* Social */
.social{
    width: 100%;
    border: solid 2px wheat;
    background-color: rgb(153, 31, 0);
    
}


.social h3{
    margin-top: 0%;
    margin-left: 1%;
    color: white;
}
.social .bills ul{
    list-style: none;
}
.social .bills ul li{
    margin-left: 3%;
    margin-top: 4%;
    
}  
.social .bills ul li a{
    text-decoration: none;
    font-weight: 700;
    font-size: 120%;
    color: rgb(217, 217, 217);
}
.social .sociallist .bills ul li .billsicon{
    margin-right: 2%;
    font-size: 150%;
    color: rgb(217, 217, 217);
}

/** Social **/
/* Transition */
.history{
    width: 100%; 
}

.transition{
    border: solid 2px black;
    height: 56%;
    margin-top: 2%;
    margin-left: 1%;
    border-radius: 10px;
    background-color: rgb(153, 31, 0);
    overflow: scroll;
    overflow-x: hidden;
    top: 284px;
    left: 356px;
    border: none;
}
.transition h2{
    padding-left: 1%;
}
.transition p{
    padding-left: 3%;
    font-weight: 500;
    color: rgb(217, 217, 217) ;
}
.transition ul{
    padding-right: 3%; 
     
}
.transition .time{
    margin-top: 1%;
   border: solid 2px rgb(77, 77, 77);
   border-radius: 10px;
}
.transition .time p{
    font-size: 70%;
    margin-top: 0%;
    padding-left: 1%;
    color: rgb(217, 217, 217);
    
}
.transition .time .listli{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.transition .time .listli .word{
    padding-left: 1%;
    width: 95%;
    font-weight: 500;
    color: rgb(217, 217, 217);
}
.transition .time .listli .num{ 
    padding-right: 2%;
    padding-top: 2%;
}
/** Transition **/
/** Transfer **/
.transfer{
    border: solid 2px black;
    width: 96%;
    border-radius: 10px;
    border: none;
}
.transfer .transferdiv{
    height: 441px;
    border-radius: 10px;
    background-color: rgb(153, 31, 0);
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;    
}

.transfer h2{
    margin-left: 1%;
}
.transfer .transferdiv .transferul{
    list-style: none;
    
}
.transfer .transferdiv .transferul .content{
    margin-left: 1%;
    font-weight: 700;
    margin-top: 1%;
    color: rgb(217, 217, 217);
}
.transfer .transferdiv .transferul .test{
    width: 30%;
    height: 20px;
    border-radius: 10px;
}
/* Transfer */
/* Profile*/

.managementdiv{
    height: 437px;
    border-radius: 10px;
    background-color: rgb(153, 31, 0);
    overflow: scroll;
    overflow-y: hidden;
    overflow-x: hidden;
}
.managementdiv h3{
    font-size: 150%;
    color: white;
    margin-left: 2%;
}
.management .managementdiv ul{
    list-style: none;
}
.managementdiv ul .managementlist{
    display: flex;
    flex-direction: row;
}
.managementdiv ul .managementlist li{
    width: 90%;
    height: 40px;
    font-size: 130%;
    border-radius: 7px;
    background-color: rgb(204, 41, 0);
    color: rgb(217, 217, 217);
    padding-left: 2%;
    padding-top: 1%;

}
.managementdiv ul .managementlist .fa-angle-right{
    width: 3%;
    height: 40px;
    margin-left: 1%;
    font-size: 150%;
    padding-top: 1%;
    padding-left: 2%;
    border-radius: 7px;
    background-color: rgb(204, 41, 0);
    color: rgb(217, 217, 217);
}